{% extends '::basePanier.html.twig' %}

{% block panier %}
        <ul>
            <li>Id : {{ billet.id }}</li>
            <li>Prénom : {{ billet.prenom }}</li>
            <li>Nom : {{ billet.nom }}</li>
        </ul>
{% endblock %}